<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="3e3d9346-b06a-4c52-8cfe-5ac90a49f8f6"
    Version="1.0.0.0"
    Publisher="CN=d.georgiev.91" />

  <Properties>
    <DisplayName>ClassesAndNamespaces</DisplayName>
    <PublisherDisplayName>d.georgiev.91</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="ClassesAndNamespaces"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="ClassesAndNamespaces"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
