
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /PHP-Basics/5.WordPress-Template/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PHP-Basics/5.WordPress-Template/index.php [L]
</IfModule>

# END WordPress
